<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <title>Sign Up | Dashboard</title>
      <!-- Fonts and Icons -->
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
      <!-- External CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up/style.css') }}">
</head>

<body>
      {% include 'components/flash_messages.html' %}
      <div class="auth-card">
            <!-- <div class="logo">
<img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" />
</div> -->
            <h2>Sign Up</h2>
            <form method="POST" class="auth-form">
                  <label for="fullname">Full Name</label>
                  <div class="input-group">
                        <i class="fas fa-user"></i>
                        <input type="text" name="fullname" placeholder="Enter Your Fullname" required>
                  </div>
                  <label for="email">Email</label>
                  <div class="input-group">
                        <i class="fas fa-envelope"></i>
                        <input type="email" name="email" placeholder="Enter Email" required>
                  </div>
                  <label for="password">Password</label>
                  <div class="input-group">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" placeholder="Enter Password" required>
                  </div>
                  <button type="submit">SIGN UP</button>
            </form>
            <div class="switch-link">
                  Already have an account ? <a href="{{ url_for('auth.login') }}">Login</a>
            </div>
      </div>
</body>

</html>